<div class="moment-picker">
    <div class="moment-picker-container {{view.selected}}-view"
         ng-class="{'moment-picker-disabled': disabled, open: view.isOpen}">
        <div ng-if="additions.top" class="moment-picker-addition top"></div>
        <table class="header-view" ng-if="showHeader">
            <thead>
                <tr>
                    <th ng-class="{disabled: !view.previous.selectable}" ng-click="view.previous.set()">
                      <div ng-bind-html="view.previous.label"></div>
                    </th>
                    <th ng-bind="view.title" ng-click="view.setParentView()">
                      <div ng-bind-html="view.title"></div>
                    </th>
                    <th ng-class="{disabled: !view.next.selectable}" ng-click="view.next.set()">
                      <div ng-bind-html="view.next.label"></div>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="moment-picker-specific-views">
            <table>
                <thead ng-if="views[view.selected].headers">
                    <tr>
                        <th ng-repeat="header in views[view.selected].headers">
                          <div ng-bind="header"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in views[view.selected].rows">
                        <td ng-repeat="item in row track by item.index" ng-class="item.class" ng-click="!disabled && views[view.selected].set(item)">
                          <div ng-bind="item.label"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="additions.bottom" class="moment-picker-addition bottom"></div>
    </div>
</div>
